.image-container {
  position: relative;
  overflow: hidden;
  padding-top: calc(3 / 4 * 100%); /* 4:3 Aspect Ratio */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover container */
}
